/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

body {
    padding-top: 10px;
}



.tab-week-marmitas {
  background-color: #e74c3c;
  height: 50px;

}
.tab-week-marmitas li {
  height: 100%;
  padding-right: 0;
  padding-left: 0;
}
.tab-week-marmitas a {
  color: white
}

.tab-week-marmitas a:hover {
  background-color: #ffffff;
  color: #e74c3c;
}